---
import Layout from "../layouts/layout.astro";
import SectionNav from "../components/section_nav.astro";
import SectionHeader from "../components/section_header.astro";
import SectionSkill from "../components/section_skill.astro";
import SectionSkills from "../components/section_skills.astro";
import SectionProject from "../components/section_project.astro";
import SectionProjects from "../components/section_projects.astro";
import SectionAbout from "../components/section_about.astro";
import SectionFooter from "../components/section_footer.astro";
---

<Layout title="Bienvenido a Mi Portfolio - @jeanctech">
  <section class="mx-[200px] my-1 flex flex-col justify-start items-center">
    <SectionNav />
    <SectionHeader />
  </section>
  <section
    class="mx-[210px] my-1 gap-7 flex flex-row justify-between items-center"
  >
    <SectionSkill />
    <SectionSkills />
  </section>
  <section
    class="mx-[100px] gap-8 my-1 flex flex-row justify-between items-center"
  >
      <SectionProject />
    <SectionProjects />
  </section>
  <section class="mx-[210px] flex flex-row justify-center items-center">
    <SectionAbout />
  </section>
  <section class="mx-[210px] flex flex-row justify-between items-center">
    <SectionFooter />
  </section>
</Layout>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  html {
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
