---
import Layout from "../layouts/layout.astro";
import SectionNav from "../components/section_nav.astro";
import SectionHeader from "../components/section_header.astro";
import SectionSkill from "../components/section_skill.astro";
import SectionSkills from "../components/section_skills.astro";
import SectionProjects0 from "../components/section_projects-0.astro";
import SectionProjects1 from "../components/section_projects-1.astro";
import SectionAbout from "../components/section_about.astro";
import SectionFooter from "../components/section_footer.astro";
---

<Layout title="Bienvenido a Mi Portfolio - @jeanctech">
  <section
    id="section-s"
    class="mx-[0px] my-0 flex flex-col justify-start items-center"
  >
    <SectionNav />
    <SectionHeader />
  </section>
  <section
    id="skills"
    class="mx-[200px] my-0 flex flex-row justify-between items-center"
  >
    <SectionSkill />
    <SectionSkills />
  </section>
  <section
    id="projects"
    class="mx-[200px] flex flex-row justify-between items-center"
  >
    <SectionProjects0 />
    <SectionProjects1 />
  </section>
  <section
    id="section-s"
    class="mx-[200px] flex flex-row justify-center items-center"
  >
    <SectionAbout />
  </section>
  <section
    id="section-s"
    class="mx-[200px] flex flex-row justify-between items-center"
  >
    <SectionFooter />
  </section>
</Layout>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  * {
    margin: 0rem;
    padding: 0rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans";
    box-sizing: border-box;
  }
  body {
    margin: 0rem;
    padding: 0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
