---
---

  <div class="m-0.5 p-0.5 bg-[#221e1e] text-[#d3d3e0] rounded-lg flex flex-row justify-between items-center border-2
  border-[#333] ">
    <div class="m-0.5 p-0.5 flex flex-row justify-between items-center ">
      <p class="m-0.5 p-0.5 text-[#b5ca40] font-bold">© 2024 @jeanctech. Todos los Derechos Reservados</p>
    </div>
    <div class="m-0.5 p-0.5 flex flex-row justify-between items-center ">
      <ul class="m-0.5 p-0.5 flex flex-row justify-center items-center ">
        <li class="m-0.5 p-0.5 border-2 border-[#383434] border-t-0 border-b-0 border-r-0">
          <a class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:bg-[#332b2b] "
          href="http://"> Experiencia</a>
        </li>
        <li class="m-0.5 p-0.5 border-2 border-[#3a3737] border-b-0 border-t-0 border-r-0 ">
          <a class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:bg-[#332b2b] "
          href="http://">Proyectos</a>
        </li>
        <li class="m-0.5 p-0.5 border-2 border-[#3a3737] border-b-0 border-t-0 border-r-0 ">
          <a class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:bg-[#332b2b] "
          href="http://">Sobre Mi</a>
        </li>
        <li class="m-0.5 p-0.5 border-2 border-[#3a3737] border-b-0 border-t-0 border-r-0 ">
          <a class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:bg-[#332b2b] "
          href="http://">Contacto</a>
        </li>
      </ul>
    </div>
  </div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
</style>
