---
import Works from "../assets/favicons/works.astro";
---

<div class="m-1 p-1 bg-gradient-to-r from-[#1f1e1e] text-slate-200 rounded-lg flex flex-col justify-start items-start ">
  <div class="m-1 p-1 flex flex-row justify-start items-center ">
    <Works />
    <h3 class="m-1 p-1 text-2xl font-semibold">Habilidades</h3>
  </div>
  <div class="m-1 p-1 flex flex-col justify-start items-center ">
    <ul class="flex flex-col justify-start items-center ">
      <div class="m-1 p-1 bg-[#242323] border-2 border-[#333] flex flex-row justify-start items-center rounded-lg ">
        <p class="m-1 p-2 text-[#41aeec] font-bold border-2 border-[#5e5858] border-y-0 border-l-0 ">
          <span></></span> Techologias Desarollo Frontend
        </p>
        <li class="m-1 p-1 text-[#ffa1a1] font-semibold border-2 border-[#5e5858] border-y-0 border-x-0 ">
          Durante 3 Años
        </li>
      </div>
      <ul class="m-0.5 p-0.5 bg-[#272626] rounded-lg font-bold flex flex-row justify-start items-center ">
        <li class="m-0.5 p-0.5 text-[#eb833d] flex flex-row justify-start items-center">
          - Html5
        </li>
        <li class="m-0.5 p-0.5 text-[#3f8de7] flex flex-row justify-start items-center">
          - Css3
        </li>
        <li class="m-0.5 p-0.5 text-[#ec6b3f] flex flex-row justify-start items-center">
          - Git
        </li>
        <li class="m-0.5 p-0.5 text-[#fff23c] flex flex-row justify-start items-center">
          - JavaScript
        </li>
        <li class="m-0.5 p-0.5 text-[#d9db44] flex flex-row justify-start items-center">
          - Json
        </li>
        <li class="m-0.5 p-0.5 text-[#4562e4] flex flex-row justify-start items-center">
          - TypeScript
        </li>
      </ul>
      <p class="m-1 p-1 text-balance border-2 border-[#333] rounded-lg flex flex-col justify-start items-start ">
        Mi Experiencia con los Lenguajes anteriores se extiende
        en la Creacion de diferentes proyectos con sus caracteristicas
        Principales utilizada en dicho proyectos de desarrollo web
        A donde he aprendido a trabajar con dichos problema que
        implica trabajar y crear proyectos con esas techologias.
      </p>
    </ul>
  </div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>