---
import Code from './icons/code.astro';
import Github from './icons/git.astro';
import Web from './icons/web.astro';
import { Image } from 'astro:assets';
import Img from '../assets/Img.webp';
import Next from '../assets/next.svg';
import React from '../assets/react.svg';
import Tailwind from '../assets/tailwind.svg';
---

<div id="div-experience" class="m-1 p-1 text-[#dce0dc]">
  <div id="div-jobs" class="text-[#e6e2e2]">
    <Code></Code>
    <h3 class="m-1 p-1 text-2xl font-semibold">Proyectos</h3>
  </div>
  <div id="div-projects" class="m-1 p-1">
    <ul id="div-ul">
      <div id="div-container" class="m-1 p-1 bg-[#242323] rounded-xl">
        <strong id="small" class="m-1 p-1 text-[#d68644] font-semibold" >
            Svgl - A beautiful library with Svg logos
        </strong>
        <li id="li" class="m-1 p-1 text-[#5cabe0] font-bold">2024</li>
      </div>
      <br />
      <p id="div-text">
        Biblioteca de logos Svg de las marcas más populares.
        <br>
        +10k visitas al mes. +2K svgs descargados.
        <br>
        Creado desde cero con Next.js, React y Tailwind Css.
      </p>
      <p id="div-tech">
        <strong id="strong" class="m-1 p-1">
          <Image class="m-0.5 p-0.5" src={Next} alt="Img-Next" width={30}></Image>
            Next.js
        </strong>
        |
        <strong id="strong" class="m-1 p-1">
            <Image class="m-0.5 p-0.5" src={React} alt="Img-React" width={30}></Image>
            React.js
        </strong>
        |
        <strong id="strong-" class="m-1 p-1">
            <Image class="m-0.5 p-0.5" src={Tailwind} alt="Img-Tailwind" width={30}></Image>
            Tailwind.css</strong>
      </p>
      <p id="div-text">
        <Image src={Img} alt="Img" width={350}></Image>
      </p>
      <p id="div-contacts" class="rounded-lg">
        <button id="contact-buttons" class="m-[2.5px] p-[2.5px] ">
            <Github></Github>
            <strong class="m-1 p-1">Ver Codigo Fuente</strong>
        </button>
        |
        <button id="contact-buttons" class="m-[2.5px] p-[2.5px] ">
            <Web></Web>
            <strong class="m-1 p-1">Ir al Sitio Web</strong>
        </button>
      </p>
    </ul>
  </div>
</div>

<style>

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  body {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
  }
  #div-experience {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }
  #div-jobs {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  #div-projects {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }
  #div-ul {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }
  #div-container {
    border: #333 solid 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
  }
  #li {
    margin: 0.2rem;
    border: #333 solid 0.1rem;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  #small {
    margin: 0.2rem;
    padding: 0.5rem;
    border: #5e5858 solid 0.1rem;
    border-top: none;
    border-bottom: none;
    border-left: none;
  }
  #div-p {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: baseline;
  }
  #div-text {
    margin: 0.5rem;
    padding: 0.5rem;
    border: #333 solid 0.1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: baseline;
  }
  #div-tech{
    margin: 0.5rem;
    padding: 0.5rem;
    border: #333 solid 0.1rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #strong{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #strong-{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #div-contacts{
    margin: 0.2rem;
    padding: 0.2rem;
    display: flex;
    flex-direction: row;
    border: #253636 solid 0.1rem;
    justify-content: center;
    align-items: center;
  }
  #contact-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #contact-buttons:hover{
    background-color: #232525;
    border-radius: 0.5rem;
  }
</style>
