---
import { Image } from "astro:assets";
import Code from "../assets/icons/code.astro";
import Img from "../assets/img-1.webp";
---

<div
  class="m-1 p-1 bg-gradient-to-r from-[#1f1e1e] text-[#e2e8f0] rounded-lg flex flex-col justify-center items-center"
>
  <div class="m-1 p-1 flex flex-row justify-center items-center">
    <Code />
    <h3 class="m-1 p-1 text-2xl font-semibold">Proyecto 0</h3>
  </div>
  <div class="m-1 p-1 flex flex-col justify-center align-center">
    <ul class="flex flex-col justify-center items-center">
      <div
        class="m-1 p-1 mb-2 bg-[#242323] flex flex-row justify-center items-center rounded-lg"
      >
        <strong
          class="m-1 p-2 text-[#d68644] font-semibold border-2 border-[#5e5858] border-t-0 border-b-0 border-l-0"
        >
          Sites-Gallery - A Beautiful Photos - Gallery
        </strong>
        <li
          class="m-1 p-1 text-[#5cabe0] font-bold border-2 border-[#333] border-x-0 border-y-0 border-b-0 border-t-0"
        >
          2024
        </li>
      </div>
      <p
        class="m-1 p-1 rounded-lg flex flex-row justify-center items-center"
      >
        Sitio Web de Una Galeria con Hermosas Fotos Un
        <br />
        Proyecto con Lenguajes de Vanilla para la Web
        <br />
        Creado desde Cero Con - JavaScript - Node.js - Vite
      </p>
      <p
      class="m-2 p-2 border-2 border-[#333] rounded-lg flex flex-row justify-center items-center"
    >
      <Image src={Img} alt="Img" width={350} title="Jssbsbbsbs" />
    </p>
      <div id="div-icons"
        class="m-1 p-1 rounded-lg flex flex-row justify-center items-center"
      >

          <svg class="m-1 p-1 flex flex-row justify-center items-center"
          class="m-0.5 p-0.5"
          xmlns="http://www.w3.org/2000/svg"
          width="35"
          height="35"
          viewBox="0 0 452 520"
        ><title>Html5</title>
          <path fill="#e34f26" d="M41 460L0 0h451l-41 460-185 52"></path>
          <path fill="#ef652a" d="M226 472l149-41 35-394H226"></path>
          <path
            fill="#ecedee"
            d="M226 208h-75l-5-58h80V94H84l15 171h127zm0 147l-64-17-4-45h-56l7 89 117 32z"
          >
          </path>
          <path
            fill="#fff"
            d="M226 265h69l-7 73-62 17v59l115-32 16-174H226zm0-171v56h136l5-56z"
          >
          </path>
        </svg>

          <svg class="m-1 p-1 flex flex-row justify-center items-center"
            class="m-0.5 p-0.5"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="0 0 452 520"
          ><title>Css3</title>
            <path fill="#0c73b8" d="M41 460L0 0h451l-41 460-185 52"></path>
            <path fill="#30a9dc" d="M226 472l149-41 35-394H226"></path>
            <path
              fill="#ecedee"
              d="M226 208H94l5 57h127zm0-114H84l5 56h137zm0 261l-124-33 7 60 117 32z"
            >
            </path>
            <path
              fill="#fff"
              d="M226 265h69l-7 73-62 17v59l115-32 26-288H226v56h80l-6 58h-74z"
            >
            </path>
          </svg>

            <svg class="m-1 p-1 flex flex-row justify-center items-center rounded-[2.5px]"
            class="m-0.5 p-0.5"
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="0 0 1052 1052"
          ><title>JavaScript</title>
            <path fill="#f0db4f" d="M0 0h1052v1052H0z"></path><path
              d="M965.9 801.1c-7.7-48-39-88.3-131.7-125.9-32.2-14.8-68.1-25.399-78.8-49.8-3.8-14.2-4.3-22.2-1.9-30.8 6.9-27.9 40.2-36.6 66.6-28.6 17 5.7 33.1 18.801 42.8 39.7 45.4-29.399 45.3-29.2 77-49.399-11.6-18-17.8-26.301-25.4-34-27.3-30.5-64.5-46.2-124-45-10.3 1.3-20.699 2.699-31 4-29.699 7.5-58 23.1-74.6 44-49.8 56.5-35.6 155.399 25 196.1 59.7 44.8 147.4 55 158.6 96.9 10.9 51.3-37.699 67.899-86 62-35.6-7.4-55.399-25.5-76.8-58.4-39.399 22.8-39.399 22.8-79.899 46.1 9.6 21 19.699 30.5 35.8 48.7 76.2 77.3 266.899 73.5 301.1-43.5 1.399-4.001 10.6-30.801 3.199-72.101zm-394-317.6h-98.4c0 85-.399 169.4-.399 254.4 0 54.1 2.8 103.7-6 118.9-14.4 29.899-51.7 26.2-68.7 20.399-17.3-8.5-26.1-20.6-36.3-37.699-2.8-4.9-4.9-8.7-5.601-9-26.699 16.3-53.3 32.699-80 49 13.301 27.3 32.9 51 58 66.399 37.5 22.5 87.9 29.4 140.601 17.3 34.3-10 63.899-30.699 79.399-62.199 22.4-41.3 17.6-91.3 17.4-146.6.5-90.2 0-180.4 0-270.9z"
              fill="#323330"
            >
            </path>
          </svg>

            <svg class="m-1 p-1 flex flex-row justify-center items-center rounded-[2.5px]"
            class="m-0.5 p-0.5"
            width="35"
            height="35"
            viewBox="0 0 32 32"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            ><title>Vite.js</title><path
              d="M29.8836 6.146L16.7418 29.6457c-.2714.4851-.9684.488-1.2439.0052L2.0956 6.1482c-.3-.5262.1498-1.1635.746-1.057l13.156 2.3516a.7144.7144 0 00.2537-.0004l12.8808-2.3478c.5942-.1083 1.0463.5241.7515 1.0513z"
              fill="url(#paint0_linear)"></path><path
              d="M22.2644 2.0069l-9.7253 1.9056a.3571.3571 0 00-.2879.3294l-.5982 10.1038c-.014.238.2045.4227.4367.3691l2.7077-.6248c.2534-.0585.4823.1647.4302.4194l-.8044 3.9393c-.0542.265.1947.4918.4536.4132l1.6724-.5082c.2593-.0787.5084.1487.4536.414l-1.2784 6.1877c-.08.387.4348.598.6495.2662L16.5173 25 24.442 9.1848c.1327-.2648-.096-.5667-.387-.5106l-2.787.5379c-.262.0505-.4848-.1934-.4109-.4497l1.8191-6.306c.074-.2568-.1496-.5009-.4118-.4495z"
              fill="url(#paint1_linear)"></path><defs id="defs50"
              ><linearGradient
                id="paint0_linear"
                x1="6.0002"
                y1="32.9999"
                x2="235"
                y2="344"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"
                ><stop stop-color="#41D1FF" id="stop38"></stop><stop
                  offset="1"
                  stop-color="#BD34FE"
                  id="stop40"></stop></linearGradient
              ><linearGradient
                id="paint1_linear"
                x1="194.651"
                y1="8.8182"
                x2="236.076"
                y2="292.989"
                gradientUnits="userSpaceOnUse"
                gradientTransform="matrix(.07142 0 0 .07142 1.3398 1.8944)"
                ><stop stop-color="#FFEA83" id="stop43"></stop><stop
                  offset=".0833"
                  stop-color="#FFDD35"
                  id="stop45"></stop><stop
                  offset="1"
                  stop-color="#FFA800"
                  id="stop47"></stop></linearGradient
              ></defs
            ></svg>

      </div>
      <center
        class="m-1 p-1 rounded-lg flex flex-row justify-center items-center"
      >
        <button
          class="m-[2.5px] p-[2.5px] flex flex-row justify-center items-center hover:text-[#5c7be0] rounded-lg"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              fill-rule="evenodd"
              d="M12 2c-2.4 0-4.7.9-6.5 2.4a10.5 10.5 0 0 0-2 13.1A10 10 0 0 0 8.7 22c.5 0 .7-.2.7-.5v-2c-2.8.7-3.4-1.1-3.4-1.1-.1-.6-.5-1.2-1-1.5-1-.7 0-.7 0-.7a2 2 0 0 1 1.5 1.1 2.2 2.2 0 0 0 1.3 1 2 2 0 0 0 1.6-.1c0-.6.3-1 .7-1.4-2.2-.3-4.6-1.2-4.6-5 0-1.1.4-2 1-2.8a4 4 0 0 1 .2-2.7s.8-.3 2.7 1c1.6-.5 3.4-.5 5 0 2-1.3 2.8-1 2.8-1 .3.8.4 1.8 0 2.7a4 4 0 0 1 1 2.7c0 4-2.3 4.8-4.5 5a2.5 2.5 0 0 1 .7 2v2.8c0 .3.2.6.7.5a10 10 0 0 0 5.4-4.4 10.5 10.5 0 0 0-2.1-13.2A9.8 9.8 0 0 0 12 2Z"
              clip-rule="evenodd"
            >
            </path>
          </svg>
          <strong class="m-[2.5px] p-[2.5px] cursor-pointer">
            <a
              href="https://github.com/jeanctech/Sites-Gallery"
              target="_blank"
              rel="noopener noreferrer">Ver Codigo Fuente</a
            >
          </strong>
        </button>
        <button
          class="m-[2.5px] p-[2.5px] flex flex-row justify-center items-center hover:text-[#5c7be0]
        rounded-lg"
        >
          <svg
            class="w-6 h-6 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M18 14v4.8a1.2 1.2 0 0 1-1.2 1.2H5.2A1.2 1.2 0 0 1 4 18.8V7.2A1.2 1.2 0 0 1 5.2 6h4.6m4.4-2H20v5.8m-7.9 2L20 4.2"
            >
            </path>
          </svg>
          <strong class="m-[2.5px] p-[2.5px] cursor-pointer">
            <a
              href="https://sites-gallery.netlify.app/"
              target="_blank"
              rel="noopener noreferrer">Ir al Sitio Web</a
            >
          </strong>
        </button>
      </center>
    </ul>
  </div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #strong {
    margin: 0rem;
    padding: 1rem;
  }
  #div-icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
</style>