---
import { Image } from "astro:assets";
import Icon from "../../public/logotipo.svg";

import Works from "./icons/works.astro";

import Linkedln from "./icons/linkedln.astro";

import Github from "./icons/github.astro";

import Mail from "./icons/mail.astro";
---

<section
  class="mt-[180px] p-[10px] bg-gradient-to-r from-[#161d1d] text-[#e4dede] rounded-xl"
>
  <div class="m-0.5 p-0.5 flex flex-row justify-start items-start">
    <Image
      src={Icon}
      alt="Logo"
      width={75}
      class="m-0.5 p-0.5 border-2 border-[#3d3838] flex flex-col justify-center items-center rounded-lg"
    />
  </div>
  <p class="m-2"></p>
  <div class="flex flex-row justify-between items-center">
    <h1 class="m-0.5 p-0.5 text-[#d1c9c7] text-5xl font-bold">
      Hola Mundo <span>Soy @jeanctech</span>
    </h1>
  </div>
  <p class="m-2"></p>
  <div class="m-[1.5px] p-[1.5px] text-2xl font-500 text-[#d1c9c7]">
    <p>
      <span class="text-[#dacdcd] font-medium">
        +2 años de Experiencia de Desarrollo.
      </span>
      <span class="text-[#e6ee70] font-semibold">
        Desarrollador Web y Frontend Junior.
      </span>
      <br />
      <span class="text-[#c68df5] font-semibold">
        De Valle del Cauca, Colombia.
      </span>
      <span class="text-[#c7c2c9] font-medium">
        Especializado en Crear Aplicaciones Web Unicas.
      </span>
      <br />
      <span class="text-[#c9c2c9] font-medium">
        Un Desarrollador Apasionado en la Web.
      </span>
      <span class="text-[#89fbff] font-semibold">
        En un Constante Proceso de Aprendizaje.
      </span>
    </p>
  </div>

  <br />

  <div
    class="m-[1.5px] p-[1.5px] gap-0 flex flex-row justify-baseline items-center"
  >
    <button
      class="m-3px] p-[1.5px] rounded-lg border-[1px] border-[#314949] flex flex-row justify-center
      items-center hover:text-[#36e685]"
    >
      <Works />
    </button>
    <p class="m-[2px] p-[0px]"></p>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#314949] flex flex-row justify-center
      items-center hover:text-[#36e685]"
    >
      <Linkedln />
    </button>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#314949] flex flex-row justify-center
      items-center hover:text-[#36e685]"
    >
      <Github />
    </button>
    <button
      class="m-[3px] p-[1.5px] rounded-lg border-[1px] border-[#314949] flex flex-row justify-center
      items-center hover:text-[#36e685]"
    >
      <Mail />
    </button>
  </div>
</section>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
