---

---

  <div id="section-footer" class="m-0.5 p-0.5 bg-[#221e1e] text-[#d3d3e0] rounded-lg flex flex-row justify-between items-center">
    <div id="div-footer">
      <p class="m-1 p-1 text-[#b5ca40] font-bold">© 2024 @jeanctech. Todos los Derechos Reservados</p>
    </div>
    <div id="div-links" class="m-1 p-1">
      <a id="a-link" class="m-2 p-1" href="http://">Experiencia</a> |
      <a id="a-link" class="m-2 p-1" href="http://">Proyectos</a> |
      <a id="a-link" class="m-2 p-1" href="http://">Sobre Mi</a> |
      <a id="a-link" class="m-2 p-1" href="http://">Contacto</a>
    </div>
  </div>

<style>

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
    margin: 0rem;
    padding: 0rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
    box-sizing: border-box;
  }
  #section-footer {
    border: #333 solid 0.1rem;
  }
  #div-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #div-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #a-link {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #a-link:hover{
    background-color: #463d3d;
  }
</style>
