---

---

<section
  class="m-[25px] p-[2.5px] bg-[#1d1c1c] text-[#e4dede] inline-flex border-[1px] border-[#293d3d]
  justify-center items-center rounded-lg"
>
  <ul class="m-0.5 p-0.5 inline-flex flex-row">
    <li
      class="border-2 border-[#293d3d] border-t-0 border-x-0 border-y-0 border-b-0"
    >
      <a
        class="m-2 p-2 text-[#e4dede] rounded-lg hover:text-[#8ccfc4]"
        href="http://"
      >
        Habilidades
      </a>
    </li>
    <li class="border-2 border-[#293d3d] border-t-0 border-r-0 border-b-0">
      <a
        class="m-2 p-2 text-[#e4dede] rounded-lg hover:text-[#8ccfc4]"
        href="http://"
      >
        Proyectos
      </a>
    </li>
    <li class="border-2 border-[#293d3d] border-t-0 border-r-0 border-b-0">
      <a
        class="m-2 p-2 text-[#e4dede] rounded-lg hover:text-[#8ccfc4]"
        href="http://"
      >
        Sobre mí
      </a>
    </li>
    <li class="border-2 border-[#293d3d] border-t-0 border-r-0 border-b-0">
      <a
        class="m-2 p-2 text-[#e4dede] rounded-lg hover:text-[#8ccfc4]"
        href="http://"
      >
        Contacto
      </a>
    </li>
  </ul>
</section>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>
