---

---

<div
  class="m-0.5 mb-2.5 mt-2.5 p-0.5 bg-gradient-to-r from-[#161d1d] text-[#cdd0d4] rounded-lg flex flex-row justify-between items-center
  border-[1px] border-[#333]"
>
  <div class="m-0.5 p-0.5 flex flex-row justify-between items-center">
    <p class="m-0.5 p-0.5 text-[#8ccfc4] font-bold">
      © 2024 @jeanctech. Todos los Derechos Reservados.
    </p>
  </div>
  <div class="m-0.5 p-0.5 flex flex-row justify-between items-center">
    <ul class="m-0.5 p-0.5 flex flex-row justify-center items-center">
      <li
        class="m-0.5 p-0.5 border-[1px] border-[#383434] border-t-0 border-b-0 border-r-0"
      >
        <a
          class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:text-[#36e685]"
          href="http://"
        >
          Habilidades
        </a>
      </li>
      <li
        class="m-0.5 p-0.5 border-[1px] border-[#3a3737] border-b-0 border-t-0 border-r-0"
      >
        <a
          class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:text-[#36e685]"
          href="http://"
        >
          Proyectos
        </a>
      </li>
      <li
        class="m-0.5 p-0.5 border-[1px] border-[#3a3737] border-b-0 border-t-0 border-r-0"
      >
        <a
          class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:text-[#36e685]"
          href="http://"
        >
          Sobre Mi
        </a>
      </li>
      <li
        class="m-0.5 p-0.5 border-[1px] border-[#3a3737] border-b-0 border-t-0 border-r-0"
      >
        <a
          class="m-0.5 p-0.5 rounded-lg flex flex-row justify-between items-center hover:text-[#36e685]"
          href="http://"
        >
          Contacto
        </a>
      </li>
    </ul>
  </div>
</div>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
