---
import { Image } from 'astro:assets';
import Logo from '../../public/Logotipo.svg';
import Linkedln from './icons/linkedln.astro';
import Github from './icons/github.astro'
import Mail from './icons/mail.astro';
import Jobs from './icons/jobs.astro';
import SectionExperience from './section-experience.astro';
---

<section id="section-header" class="m-[175px] p-[1px] text-slate-200 ">
 <div id="section-div" class="m-1 p-1">
    <Image src={Logo} alt="Logo" width={75} id="image" class="m-1 p-0 rounded-lg"></Image>
</div>
<div id="div-section">
    <h1 class="m-1 p-1 text-[#d1c9c7] text-5xl font-bold">Hola Mundo <span>Soy @jeanctech</span></h1>
 </div>
 <div id="div-p" class="m-[2.5px] p-[2.5px] text-2xl font-normal">
    <p>
        <span class="text-[#dacdcd] font-medium">+2 años de Experiencia de Desarrollo.</span>
        <span class="text-[#d8d168] font-semibold">Desarrollador Web y Frontend Junior.</span>
        <br>
        <span class="text-[#7898dd] font-semibold">De Valle del Cauca, Colombia</span>.
        <span class="text-[#c9c2c9] font-medium">Especializado en Crear Aplicaciones Web Unicas.</span>
        <br>
        <span class="text-[#c9c2c9] font-medium">Un Desarrollador Apasionado en Web</span>.
        <span class="text-[#71c1cf] font-semibold">En un Constante Proceso de Aprendizaje.</span>
    </p>
 </div>
 <div id="div-contacts" class="m-[2.5px] p-[2.5px]">
    <small id="small-a" class="m-[2.5px] p-[2.5px] bg-[#203063] text-[#abafb6] rounded-lg">
      <Jobs></Jobs>
      <a class="m-1 p-1 font-semibold" href="http://" target="_blank" rel="noopener noreferrer">
          Disponible para Trabajar
      </a>
  </small>
    <button id="contacts-buttons" class="m-[2.5px] p-[2.5px] bg-[#1f1e1e] rounded-lg">
        <Linkedln></Linkedln>
    </button>
    <button id="contacts-buttons" class="m-[2.5px] p-[2.5px] bg-[#1f1e1e] rounded-lg">
        <Github></Github>
    </button>
    <button id="contacts-buttons" class="m-[2.5px] p-[2.5px] bg-[#1f1e1e] rounded-lg">
        <Mail></Mail>
    </button>
 </div>
 <div id="section-experience" class="flex flex-row justify-start items-start">
  <SectionExperience></SectionExperience>
  <SectionExperience></SectionExperience>
 </div>
 <div id="section-experience" class="flex flex-row justify-start items-start">
  <SectionExperience></SectionExperience>
  <SectionExperience></SectionExperience>
 </div>
</section>

<style>

  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
    margin: 0rem;
    padding: 0rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans";
    box-sizing: border-box;
  }
  body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #section-div{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  #div-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #image{
    border: #302f33 solid 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #small-a{
    border: #0d0a22 solid 0.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #small-a:hover{
    background-color: #2c2558;
  }
  #div-contacts{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
  }
  #contacts-buttons{
    border: #253636 solid 0.1rem;
  }
  #contact-buttons{
    display: flex;
    flex-direction: row;
    border: #253636 solid 0.1rem;
    justify-content: center;
    align-items: center;
  }
  #contacts-buttons:hover{
    background-color: #253b3b;
  }

</style>
