---

---

<section
  class="m-[35px] p-[5px] bg-[#1d1c1c] text-[#d1c1c1] inline-flex border-2 border-[#292727]
  justify-center items-center rounded-lg" >
  <ul class="m-0.5 p-0.5 inline-flex flex-row" >
    <li
      class="border-2 border-[#3d2929] border-t-0 border-x-0 border-y-0 border-b-0" >
      <a
        class="m-2 p-2 text-white rounded-lg hover:bg-[#302e2e]"
        href="http://" >
        Habilidades
      </a>
    </li>
    <li class="border-2 border-[#3d2929] border-t-0 border-r-0 border-b-0" >
      <a
        class="m-2 p-2 text-white rounded-lg hover:bg-[#302e2e]"
        href="http://" >
        Proyectos
      </a>
    </li>
    <li class="border-2 border-[#3d2929] border-t-0 border-r-0 border-b-0" >
      <a
        class="m-2 p-2 text-white rounded-lg hover:bg-[#302e2e]"
        href="http://" >
        Sobre mí
      </a>
    </li>
    <li class="border-2 border-[#3d2929] border-t-0 border-r-0 border-b-0" >
      <a
        class="m-2 p-2 text-white rounded-lg hover:bg-[#302e2e]"
        href="http://" >
        Contacto
      </a>
    </li>
  </ul>
</section>
<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
</style>