---
import { Image } from "astro:assets";
import About from "../assets/icons/about.astro";
import Logotipo from "../../public/logotipo.svg";
---

<section
  class="m-1 p-1 bg-gradient-to-r from-[#242323] text-[#e2e8f0] rounded-lg flex flex-col justify-start items-start"
>
  <div class="m-1 p-1 flex flex-row justify-start items-center">
    <About />
    <h3 class="m-1 p-1 text-2xl font-semibold">Sobre Mi</h3>
  </div>
  <div
    class="m-1 p-1 border-2 border-[#333333] rounded-lg flex flex-row justify-start items-start"
  >
    <article class="m-1 p-1 flex flex-row justify-between items-center">
      <p
        class="m-1 p-1 flex flex-col justify-start items-start text-balance"
      >
        Me llamo JeanCarlos Jimenez pero mi nombre de usuario es @jeanctech.
        Empecé en la programación hace tres años me apasiona este mundo y todo
        su entorno a la vez quiero colaborar en este sector con inovaciones y
        crear una comunidad de desarrollo. mis primeros aportes en el entorno
        del web Incluyen crear paginas web, sitios web, Aplicaciones web con las
        diferentes habilidades aprendida en el proceso de creacion de los
        proyectos y lo cuales voy a seguir contruyendo y colaborando
        a demas de asistir a evento sobre desarrollo web.
      </p>
      <Image
        class="m-1 p-1 border-2 border-[#333333] rounded-lg flex flex-row justify-start items-start"
        src={Logotipo}
        alt="Logotipo-@jeanctech"
        width={225}
      />
    </article>
  </div>
</section>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>