---

---

<section id="section-nav" class="m-5 p-5 bg-black text-white justify-center items-center rounded-lg" >
  <ul id="section-ul" class="m-0.5 p-0.5 inline-flex flex-row" >
    <li id="section-li" >
        <a class="m-2 p-2 text-white hover:bg-slate-900 rounded-lg" href="http://" >
            Experiencia
        </a>
    </li>
    <li>
        <a class="m-2 p-2 text-white hover:bg-slate-900 rounded-lg" href="http://" >
            Proyectos
        </a>
    </li>
    <li>
        <a class="m-2 p-2 text-white hover:bg-slate-900 rounded-lg" href="http://" >
            Sobre mí
        </a>
    </li>
    <li>
        <a class="m-2 p-2 text-white hover:bg-slate-900 rounded-lg" href="http://" >
            Contacto
        </a>
    </li>
  </ul>
</section>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  * {
    margin: 0rem;
    padding: 0rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans";
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
  }
  #section-nav {
    margin: 0.5rem;
    padding: 0.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
  section {
    border: solid #292727 0.1rem;
  }
  #section-li {
    border: solid #292727 0.1rem;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
  }
  li {
    border: solid #292727 0.1rem;
    border-bottom: none;
    border-top: none;
    border-right: none;
  }
</style>
