<a
  href=""
  class="ml-[5px] p-[1px] rounded-lg flex flex-row justify-center items-center text-[#8dadad] font-semibold"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    stroke-width="2"
    stroke="currentColor"
    fill="none"
    stroke-linecap="round"
    stroke-linejoin="round"
    data-darkreader-inline-stroke=""
    style="--darkreader-inline-stroke: currentColor;"
  >
    <path
      stroke="none"
      d="M0 0h24v24H0z"
      fill="none"
      data-darkreader-inline-stroke=""
      style="--darkreader-inline-stroke: none;"
    >
    </path>
    <path d="M12 18h-7a2 2 0 0 1 -2 -2v-10a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v7.5">
    </path>
    <path d="M3 6l9 6l9 -6"></path>
    <path d="M15 18h6"></path>
    <path d="M18 15l3 3l-3 3"></path>
  </svg>
  <span class="m-[0px] p-[0px]">
    <a
      href="mailto:jeanctech@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
    >
      <p class="m-[0.2rem] p-[0.2rem]">Correo</p>
    </a>
  </span>
</a>
