---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Contrata a @jeanctech Para Crear tus Aplicaciónes Web con un
    Desarrollador Web. Especializado en Crear Aplicaciones Unicas."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  * {
    margin: 0rem;
    padding: 0rem;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans";
    box-sizing: border-box;
  }
  body {
    background-color: #182929;
  }
  /* Estilo base del contenedor que tiene scroll */
  .scroll-container {
    overflow-y: auto; /* o scroll si siempre quieres que aparezca */
  }

  /* Scrollbar para navegadores basados en WebKit */
  .scroll-container::-webkit-scrollbar {
    width: 0.8rem;
    height: 0.8rem;
    background-color: #161f1f;
    border-left: 0.1rem solid #3c5050;
  }

  .scroll-container::-webkit-scrollbar-thumb {
    background-color: #663399; /* color del "palo" */
    border-radius: 0.4rem;
  }

  .scroll-container::-webkit-scrollbar-track {
    background-color: #008000; /* color de fondo */
  }

  /* Firefox */
  .scroll-container {
    scrollbar-width: thin;
    scrollbar-color: #663399 #008000;
  }
  @media (min-height: 680px), screen and (orientation: portrait) {
    :root {
      margin: 0rem;
      padding: 0rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    ::-webkit-scrollbar {
      width: 0.8rem;
      height: 0.8rem;
      background-color: #464242;
      overflow-y: scroll;
      scrollbar-color: #663399 #008000;
    }
  }
</style>
